include navigation/navigation.pug

mixin header(city, menuItems, interactionItems, pic)
    .header__city-choice= city
    .header__navigation
        +navigation(menuItems, interactionItems)
    img.header__pic(width=pic.width, height=pic.height, src=pic.src, alt=pic.alt)
    .header__motto
    button.header__cta-btn