include navigation/navigation.pug
include motto/motto.pug

mixin header(data)
    .header__city-choice= data.city
    .header__navigation.navigation
        +navigation(data.menuItems, data.interactionItems)
    img.header__pic(width=data.mainPic.width, height=data.mainPic.height, src=data.mainPic.src, alt=data.mainPic.alt)
    .header__motto
        +motto(data.motto)
    button.header__cta-btn= data.ctaBtn